<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="/assets/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
        <h5 class="centered">Sam Soffes</h5>

        <li class="mt" *ngxPermissionsOnly="['Admin', 'Agent']">
          <a  routerLink="/wafa/">
            <i class="fa fa-dashboard"></i>
            <span>Demandes comptes</span>
          </a>
        </li>
        <li class="mt" *ngxPermissionsOnly="['Admin', 'Agent']">
          <a  routerLink="/wafa/allAccount">
            <i class="fa fa-dashboard"></i>
            <span>Liste des comptes</span>
          </a>
        </li>
        <li class="sub-menu" *ngxPermissionsOnly="['Admin']">
          <a>
            <i class="fa fa-users"></i>
            <span>Gestion des agent</span>
            </a>
          <ul class="sub">
            <li><a routerLink="/wafa/agent/new">Ajouter Agent</a></li>
            <li><a routerLink="/wafa/listAgent">Liste des agents</a></li>
          </ul>
        </li>
        <li class="mt" *ngxPermissionsOnly="['Utilisateur']">
          <a  routerLink="/wafa/mesComptes">
            <i class="fa fa-dashboard"></i>
            <span>Mes comptes</span>
          </a>
        </li>
        
        <li class="mt" *ngxPermissionsOnly="['Utilisateur']">
          <a  routerLink="/wafa/change/{{idcompte}}">
            <i class="fa fa-dashboard"></i>
            <span>Devise/Change</span>
          </a>
        </li>

        <li class="mt" *ngxPermissionsOnly="['Utilisateur']">
          <a  routerLink="/wafa/carnetcheque/{{idcompte}}">
            <i class="fa fa-dashboard"></i>
            <span>Cheques</span>
          </a>
        </li>

        <li class="mt" *ngxPermissionsOnly="['Admin', 'Agent']">
          <a  routerLink="/wafa/PaymentChequeAdmin">
            <i class="fa fa-dashboard"></i>
            <span>Cheques</span>
          </a>
        </li>



      </ul>
    </div>
  </aside>
