<br>
<br>
<br>
<br>
<br>


 

<hr/>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-7">
    <h2>Element Publication Details</h2>  
<div *ngIf="Elementpublication">
  <div>
    <label><b>Contenu: </b></label> {{Elementpublication.contenu}}
  </div>
  <div>
    <label><b>Type: </b></label> {{Elementpublication.typeElement}}
  </div>
    
</div>

<br>
<br>
<button (click)="list()" class="btn btn-success">Back to Element Publication  List</button><br>
<br>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
