<section id="main-content">
    <section class="wrapper site-min-height">
          <div class="row mt">

<div class="col-md-12">
    <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i> Compte {{compte.typeCompte}}</h4>
      <h4><i class="fa fa-angle-right"></i> RIB: {{compte.rib}}</h4>
      <table class="table table-striped table-advance table-hover">
        <thead>
          <tr>
            <th><i class="fa fa-bullhorn"></i> Devise</th>
            <th class="hidden-phone"><i class="fa fa-question-circle"></i> Unite</th>
            <th><i class="fa fa-bookmark"></i> Montant</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let solde of soldes">
          <tr >
            <td>
              <a >{{solde.devise?.code}}</a>
            </td>
            <td class="hidden-phone">{{solde.devise?.unite}}</td>
            <td>{{solde['montant']}}</td>
            <td>
              <button class="btn btn-danger btn-xs" (click)="deleteSolde(solde)"><i class="fa fa-trash-o "></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<app-devise></app-devise>
</div>
</section>
</section>
