<div class="panel">

  <div class="panel-title">
  Mes comptes
  </div>
  <div class="panel-body">
         <span *ngIf="errorMessage" class="text-danger">
          {{errorMessage}}
        </span>
    <button class="btn btn-send pull-right" (click)="createAccount()">Créer compte</button>
    <table class="table table-striped table-advance table-hover">


      <thead>
      <tr>
        <th>Date ouverture</th>

        <th>RIB</th>
        <th>Type Compte</th>
        <th>Actions</th>




      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of comptes">
        <td>{{data.dateOuverture | date: 'dd/MM/yyyy' }}</td>
        <td>{{data?.rib}}</td>
        <td>{{data.typeCompte}}</td>
        <td>

          <a class="btn btn-info" routerLink="/transaction/{{data.id}}">
            <i class="fa fa-exchange"></i>
          </a>



          <button

            class="btn btn-facebook  " style="margin-left: 10px"  title="Demande crédit"
            routerLink="/demandeCredit/{{data.id}}"><i class="fa fa-money"></i></button>
        </td>



      </tr>
      </tbody>

    </table>

  </div>
</div>
