<div class="panel">

  <div class="panel-title">
    Liste des comptes
  </div>
  <div class="panel-body">


    <table class="table table-striped table-advance table-hover">


      <thead>
      <tr>
        <th>Date ouverture</th>
        <th>Client</th>

        <th>RIB</th>
        <th>Type Compte</th>




      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of comptes">
        <td>{{data.dateOuverture | date: 'dd/MM/yyyy' }}</td>
        <td>{{data?.utilisateur?.nom + ' ' + data?.utilisateur?.prenom}}</td>
        <td>{{data?.rib}}</td>

        <td>{{data.typeCompte}}</td>



      </tr>
      </tbody>

    </table>

  </div>
</div>
