<div id="login-page">
  <div class="container">
    <form class="form-login" >
      <h2 class="form-login-heading">Authentification</h2>

      <span *ngIf="errorMessage" class="text-danger">{{errorMessage}}</span>
      <div class="login-wrap">
        <input type="email" class="form-control" placeholder="Email" name="email"
               [(ngModel)]="user.email" required #mail="ngModel">
        <br>
        <input type="password" class="form-control" placeholder="Mot de passe" name="password"
               [(ngModel)]="user.password" required #pwd="ngModel">
        <br>
        <button class="btn btn-theme btn-block"
                [disabled]="mail.invalid || pwd.invalid"
                (click)="login()"><i class="fa fa-lock"></i> Se connecter</button>
        <hr>

        <div class="registration">
         Vous n'avez pas un compte?<br>
          <a class="" routerLink="/demandeCompte">
            Créer un compte
          </a>
        </div>

        <div class="registration">
          Vous pouvez avoir une simuation de crédit?<br>
          <a class="" routerLink="/simulationCredit">
            Simuler crédit
          </a>
        </div>
      </div>

    </form>
  </div>
</div>
