
<div class="form-panel">

  <div class="text-danger" *ngIf="f.submitted && errorMessage">
    {{errorMessage}}
  </div>

  <div class="text-success" *ngIf="f.submitted && successMessage">
    {{successMessage}}
  </div>
  <form #f="ngForm" (ngSubmit)="f.valid && sendVirement(f)">
    <div class="form-group">
      <label>Compte émetteur</label>
      <select [(ngModel)]="virementRequest.rib1" required class="form-control" #rib1="ngModel" name="rib1">
        <option [ngValue]="cpt.rib" *ngFor="let cpt of comptes">{{cpt.rib}}</option>
      </select>
      <div class="text-danger" *ngIf="f.submitted && rib1.invalid">
        Compte émetteur est obligatoire
      </div>
    </div>



  <div class="form-group">
    <label>Compte recepteur</label>
    <input [(ngModel)]="virementRequest.rib2" required class="form-control" #rib2="ngModel" name="rib2">

    <div class="text-danger" *ngIf="f.submitted && rib2.invalid">
      Compte recepteur est obligatoire
    </div>
  </div>

  <div class="form-group">
    <label>Montant</label>
    <input [(ngModel)]="virementRequest.montant" required class="form-control" #montant="ngModel" name="montant">

    <div class="text-danger" *ngIf="f.submitted && montant.invalid">
      Montant est obligatoire
    </div>

  </div>

  <div class="form-group">
    <label>Devise</label>
    <input [(ngModel)]="virementRequest.devise" required class="form-control" #devise="ngModel" name="devise">

    <div class="text-danger" *ngIf="f.submitted && devise.invalid">
      devise est obligatoire
    </div>
  </div>


    <button type="submit" class="btn btn-success">Valider</button>
  </form>
</div>

