<form #f="ngForm" (ngSubmit)="f.valid && simuler()" class="form-horizontal style-form">
  <div class="panel">
    <div class="panel-body">
        <span *ngIf="f.submitted && errorMessage" class="text-danger">
          {{errorMessage}}
        </span>

      <div class="form-group {{f.submitted && typeCredit.invalid? 'has-error': ''}}">
        <label class="col-lg-2 control-label">Type crédit</label>
        <div class="col-lg-10">
          <select type="text"
                  class="form-control" name="typeCredit"
                  required
                  #typeCredit="ngModel"
                  [(ngModel)]="demandeCredit.typeCredit">
            <option value="Voiture">Voiture</option>
            <option value="Habbital">Habbital</option>
            <option value="Personnel">Personnel</option>
            <option value="Etude">Etude</option>
          </select>
          <p *ngIf="f.submitted && typeCredit.invalid" class="help-block">
            <span *ngIf="typeCredit?.errors['required']">Type crédit est obligatoire</span>
          </p>
        </div>
      </div>

      <div class="form-group {{f.submitted && montant.invalid? 'has-error': ''}}">
        <label class="col-lg-2 control-label">Montant</label>
        <div class="col-lg-10">
          <input type="text" placeholder=""
                 class="form-control" name="montant" (keypress)="numberOnly($event)"
                 required
                 #montant="ngModel"
                 [(ngModel)]="demandeCredit.montant">
          <p *ngIf="f.submitted && montant.invalid" class="help-block">
            <span *ngIf="montant?.errors['required']">Montant est obligatoire</span>

          </p>
        </div>
      </div>


      <div class="form-group {{f.submitted && apport.invalid? 'has-error': ''}}">
        <label class="col-lg-2 control-label">Apport</label>
        <div class="col-lg-10">
          <input type="text" placeholder=""
                 class="form-control" name="apport" (keypress)="numberOnly($event)"
                 required
                 #apport="ngModel"
                 [(ngModel)]="demandeCredit.apport">
          <p *ngIf="f.submitted && apport.invalid" class="help-block">
            <span *ngIf="apport?.errors['required']">Apport est obligatoire</span>

          </p>
        </div>
      </div>

      <div class="form-group {{f.submitted && duree.invalid? 'has-error': ''}}">
        <label class="col-lg-2 control-label">Durée</label>
        <div class="col-lg-10">
          <input type="text" placeholder=""
                 class="form-control" name="duree" (keypress)="numberOnly($event)"
                 required
                 #duree="ngModel"
                 [(ngModel)]="demandeCredit.duree">
          <p *ngIf="f.submitted && duree.invalid" class="help-block">
            <span *ngIf="duree?.errors['required']">Durée est obligatoire</span>

          </p>
        </div>
      </div>
    </div>

    <div class="panel-footer ">


      <button class="btn btn-success">Simuler</button>
      <input style="background-color:#ee1e2d" type = "button" value = "Retour!"  onclick = "history.back()">
      <span *ngIf="f.submitted && montantEcheance">
        Remboursement mensuel: {{montantEcheance | number}}  dinars/ mois
      </span>
    </div>

  </div>

</form>


