<br>
<br>
<br>
<br>
<br>




<hr/>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-7">  
    <h2>Publication Details</h2> 
<div *ngIf="publication">
  <div>
    <label><b>Titre: </b></label> {{publication.titre}}
  </div>
  <div>
    <label><b>Autheur: </b></label> {{publication.autheur}}
  </div>
  <div>
    <label><b>Date publication: </b></label> {{publication.datepublication}}
  </div>
  <br>
<br>
<button (click)="list()" class="btn btn-success">Back to Publication List</button><br> 
<br> 
</div>


</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

